body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #95cef74e; 
	font-size: 1em;
	line-height: 1.5em;

    padding-top: 80px;
}

h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

p {
	margin: 0 0 1.5em 0;
}

img {
	max-width: 100%;
	height: auto;
    padding-left: 20%;
    margin-bottom: 5%;
}


#main-header {
	/*background: #333;*/
    background-color: #0b76a6;
	color: white;
	height: 80px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}	
	#main-header a {
		color: white;
	}

/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #15ccff;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #ffffff;
	}
	

/*
 * Navegación
 */
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #00e1ff88;
				}

#main-content {
	background: white;
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 0 0 15px rgba(119, 236, 249, 0.421);
}

	#main-content header,
	#main-content .content {
		padding: 40px;
	}
    #main-content h2 {
        margin-top: -5%;
        font-weight: 100;
       
        text-align: center;
    }
    #main-content h3 {
        
        font-weight: 100;
        text-align: center;
    }


#main-footer {
	background: #0b76a6;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}
	#main-footer p {
		margin: 0;
	}
	
	#main-footer a {
		color: white;
	}

